asgiref==3.11.1
certifi==2026.2.25
Django==6.0.2
django-cors-headers==4.9.0
django-formtools==2.5.1
django-otp==1.7.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
mysql-connector-python==9.6.0
PyJWT==2.11.0
pyotp==2.9.0
python-dotenv==1.2.1
qrcode==8.2
sqlparse==0.5.5
